.version.enter {
	color: #000009;
	background-color: #00D451;
}

#muse_css_mq {
	background-color: #FFFFFF;
}

#page {
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1264px;
	margin-left: auto;
	margin-right: auto;
}

#u1328 {
	z-index: 2;
	height: 62px;
	background-color: #FFF4DD;
	position: fixed;
	top: 0px;
}

#u1328-bw {
	z-index: 2;
}

#u1334-4 {
	z-index: 23;
	min-height: 23px;
	border-style: solid;
	border-width: 1px;
	border-color: #B2856C;
	background-color: #FFFFFF;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	color: #5E4F34;
	font-family: '__Bodoni Classic_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 9.1%;
	left: 0.88%;
}

#u1334-4:hover {
	background-color: #CCBBAB;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 9.1%;
	margin: 19px -10000px 0px 0%;
}

#u1329-4 {
	z-index: 3;
	min-height: 23px;
	border-style: solid;
	border-width: 1px;
	border-color: #B2856C;
	background-color: #FFFFFF;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	color: #5E4F34;
	font-family: '__Bodoni Classic_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 9.1%;
	left: 12.82%;
}

#u1329-4:hover {
	background-color: #CCBBAB;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 9.1%;
	margin: 19px -10000px 0px 0%;
}

#u1334-4:active,
#u1329-4:active {
	background-color: #CCBBAB;
	opacity: 0.56;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.00000000000001)";
	filter: alpha(opacity=56.00000000000001);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 9.1%;
	margin: 19px -10000px 0px 0%;
}

#ppu1331-4 {
	z-index: 0;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	width: 49.45%;
	margin-left: 24.77%;
}

#pu1331-4 {
	z-index: 11;
	width: 42.4%;
}

#u1331-4 {
	z-index: 11;
	min-height: 23px;
	border-style: solid;
	border-width: 1px;
	border-color: #B2856C;
	background-color: #FFFFFF;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	color: #5E4F34;
	font-family: '__Bodoni Classic_5';
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 43.4%;
	left: -0.38%;
}

#u1331-4:hover {
	background-color: #CCBBAB;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 43.4%;
	margin: -1px -10000px -1px 0%;
}

#u1332-4 {
	z-index: 15;
	min-height: 23px;
	border-style: solid;
	border-width: 1px;
	border-color: #B2856C;
	background-color: #FFFFFF;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	color: #5E4F34;
	font-family: '__Bodoni Classic_5';
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 43.4%;
	left: 56.23%;
}

#u1332-4:hover {
	background-color: #CCBBAB;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 43.4%;
	margin: -1px -10000px -1px 0%;
}

#u1331-4:active,
#u1332-4:active {
	background-color: #CCBBAB;
	opacity: 0.56;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.00000000000001)";
	filter: alpha(opacity=56.00000000000001);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 43.4%;
	margin: -1px -10000px -1px 0%;
}

#u1381-4 {
	z-index: 36;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	font-family: '__Bodoni Classic_6';
	font-weight: 400;
	margin-top: 41px;
	position: relative;
	width: 33.6%;
	margin-left: 34.24%;
}

#u1361 {
	z-index: 27;
	background-color: #DBCEC5;
	border-radius: 9px;
	padding-top: 20px;
	padding-bottom: 20.349999999999852px;
	margin-top: 23px;
	position: relative;
	width: 98.08%;
	margin-left: 1.92%;
}

#u1362-4 {
	z-index: 28;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	color: #534741;
	line-height: 24px;
	font-family: '__Bodoni Classic_6';
	font-weight: 400;
	position: relative;
	width: 40.95%;
	margin-left: 2.29%;
}

#u1364-4 {
	z-index: 32;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	color: #534741;
	line-height: 24px;
	font-family: '__Bodoni Classic_6';
	font-weight: 400;
	margin-top: 8px;
	position: relative;
	width: 40.95%;
	margin-left: 2.29%;
}

#u1330-4 {
	min-height: 23px;
	background-color: transparent;
	text-indent: 2px;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: '__Bodoni Classic_6';
	font-weight: 400;
	position: relative;
	left: -50%;
	margin-left: 147.4666666666664px;
	width: 100%;
	max-width: 295px;
}

#u1330-2 {
	padding: 2px;
}

#u1330-4-wrapper {
	position: fixed;
	top: 20px;
	z-index: 7;
	left: 50%;
	margin-left: 22px;
	width: 23.34%;
	max-width: 295px;
}

#u1333-4 {
	z-index: 19;
	min-height: 23px;
	border-style: solid;
	border-width: 1px;
	border-color: #B2856C;
	background-color: #FFFFFF;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	color: #5E4F34;
	font-family: '__Bodoni Classic_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 9.1%;
	left: 88.85%;
}

.css_verticalspacer .verticalspacer {
	height: calc(100vh - 499px);
}

.html {
	background-color: #FCF3E8;
}

body {
	position: relative;
	min-width: 320px;
}

@font-face {
	font-family: '__Bodoni Classic_5';
	src: url('../fonts/bodoniclassictext-cyrilliclight.eot');
	src: local('☺'), url('../fonts/bodoniclassictext-cyrilliclight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: '__Bodoni Classic_6';
	src: url('../fonts/bodoniclassic-cyrillicroman.eot');
	src: local('☺'), url('../fonts/bodoniclassic-cyrillicroman.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}