{% block content %}

<div class="clearfix colelem" id="u434">
     <div class="clearfix grpelem" id="u360">
      <div class="museBGSize grpelem" id="u363" style="background: transparent url({{ material.imag }}) no-repeat left top;"></div>
      <div class="clearfix grpelem" id="u416-4">
       <p>{{ material.name }}</p>
      </div>
      <div class="clearfix grpelem" id="u419">
       <div class="clearfix grpelem" id="u422-4">
        <p>{{ material.price }} руб/м</p>
       </div>
      </div>
     </div>
</div>

{% endblock %}